@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F1F1F1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}